@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  color-scheme: dark;
  --bg-primary: rgba(0, 18, 29, 1);
  --accent: rgba(168, 255, 7, 0.7);

  --nav-height: 2rem;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppin", sans-serif;
}

body {
  background-color: var(--bg-primary);

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "nav nav" "aside main" "aside footer";
  grid-template-rows: auto 1fr auto;
}

nav {
  grid-area: nav;
  background-color: aqua;
  padding: 2rem;
}

aside {
  grid-area: aside;
  background-color: bisque;
}

main {
  grid-template: main;
  min-height: 100vh;
}

footer {
  grid-area: footer;
  background-color: azure;
  padding: 2rem;
}

.hero {
  height: 100%;
  padding: 2rem;
  max-width: 100ch;
  text-wrap: wrap;
  text-wrap-style: pretty;

  > div {
    border: 1px solid white;
    border-radius: 10px;
    padding: 3rem;
    position: relative;

    >h1 {
      font-size: 2rem;
      background-color:azure;
    }
    > h1::after {
      content: "";
      background-color: aqua;
      width: 100px;
      height: 100px;
    }

  } 
}

/* 
@media (prefer-color-scheme: dark) {

} */