*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-image: url("./assets/tokyo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
  border-radius: inherit;
  transition: opacity 0.26s ease-out;
  border-radius: 28px;
  filter: drop-shadow(-8px -10px 46px #0000005f);
  backdrop-filter: brightness(1.1) blur(0.1px) url(#displacementFilter);
  width: 200px;
  height: 200px;
  color: rgb(190, 190, 190);
  font-size: 24px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  border-radius: 28px;
  -webkit-box-shadow: inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
  box-shadow: inset 6px 6px 0px -6px rgba(255, 255, 255, 0.7),
    inset 0 0 8px 1px rgba(255, 255, 255, 0.7);
}