html, body, * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 0, 27);
}

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(rgb(200, 49, 255), rgb(255, 65, 170));

  border-radius: 30% 70% 70% 30% / 37% 32% 68% 63%;
}